.contactImage {
  display: none;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41.4rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--lightBlueGrey);
  border: solid 0.2rem var(--lineColour);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .gradientBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30.7rem;
  height: 4.7rem;
  border-radius: 0.5rem;
  background: var(--gradient);
 
} */

/* .gradientBgText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30.7rem;
  height: 12.3rem;
  border-radius: 0.5rem;
  background: var(--gradient);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
} */

input,
textarea {
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  border: solid 0.2rem var(--lineColour);
}



.formGroup {
  padding-top: 1.3rem;
  font-size: 1.4rem;
}

.formGroup input {
  width: 30.5rem;
  height: 4.5rem;
}

.formGroup textarea {
  width: 30.5rem;
  height: 12.1rem;
}

.formBtnContainer {
  padding: 1.9rem 0rem;
}

.SectionFormContainer {
  margin-bottom: 3.1rem;
}

.submitBtn {
  border: none;
  border-radius: 0.5rem;
  background: var(--purple);
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
}



.submitBtn:active {
  transform: translateY(2px);
}

#name {
  padding-top: 2.5rem;
}

@media (min-width: 800px) {

  .contactContainer {
    display: flex;
    flex-direction: row;
  }

  .contactLeft {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 5%;
  }

  .contactImage {
    display: flex;
    width: 50%;
    height: auto;
    align-self: center;
  }

  .SectionFormContainer {
    width: 55%;
  }

  .formContainer {
    height: fit-content;
  }

  form {
    width: 80%;
  }

  .formGroup {
    width: 100%;
    padding-bottom: 2.5rem;
  }

  .gradientBg {
    width: 100%;
    margin-top: 0.7rem;
  }

  .formGroup input {
    width: 99.5%;
  }

  .gradientBgText {
    width: 100%;
    margin-top: 0.7rem;
  }

  .formGroup textarea {
    width: 99.5%;
  }


}