.teamMemberCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;

}

.teamMemberContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamMemberCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  width: 85%;
  height: 50rem;
  border: solid 0.2rem var(--lineColour);
  background-color: var(--lightBlueGrey);
  box-shadow: 5px 5px 8px rgba(125, 125, 125, 0.2);
}

.teamMemberImage {
  border: solid 0.5rem var(--purple);
  padding: 0.3rem;
  height: 15.5rem;
  width: 15.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.teamMemberName {
  color: var(--darkGrey);
  font-size: 2rem;
}

.teamMemberTitle {
  color: var(--purple);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.teamMemberDescription {
  text-align: center;
  padding: 0rem 2.5rem;
  margin-bottom: 1.5rem;
}

.SocialsContainer {
  display: flex;
  height: 5rem;
  width: 100%;
  padding: 0rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 3rem
}


.teamMemberSocialIcon {
  width: 38px;
  height: 38px;
  cursor: pointer;
  box-shadow: 5px 5px 8px rgba(125, 125, 125, 0.2);
}

.teamMemberSocialIcon:hover {
  opacity: 0.9;
  transform: translateY(-0.2rem);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1400px) {

  .teamMemberCardContainer {
    height: 40rem;
  }

  .teamMemberCard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    width: 65%;
    height: 29rem;
    align-items: center;
    justify-content: center;
    background-color: var(--lightBlueGrey);
  }

  .teamMemberImage {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: auto;
    margin-bottom: 0;
  }

  .teamMemberContent {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    height: 29rem;
    width: 100%;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 0;
  }

  .teamMemberName {
    grid-row: 1;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .teamMemberTitle {
    grid-column: 1/2;
    font-size: 2rem;
    grid-row: 2;
    line-height: 2rem;
    margin: 0;
  }

  .teamMemberDescription {
    padding: 0rem;
    text-align: left;
    grid-column: 1/4;
    grid-row: 3;
    margin-bottom: 0;
  }

  .SocialsContainer {
    grid-column: 2/4;
    width: 100%;
    padding: 0;
    justify-content: end;
    grid-row: 1;
  }
}