.teamMemberCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
}

.teamMemberContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamMemberCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  width: 85%;
  height: 53rem;
  border: solid 0.2rem var(--lineColour);
  background-color: white;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

.teamMemberImage {
  border: solid 0.5rem var(--purple);
  padding: 0.3rem;
  height: 15.5rem;
  width: 15.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.teamMemberName {
  color: var(--darkGrey);
  font-size: 2rem;
}

.teamMemberTitle {
  color: var(--purple);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.teamMemberDescription {
  text-align: center;
  padding: 0rem 2.5rem;
}

.SocialsContainer {
  display: flex;
  width: 75%;
  padding: 0rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 3rem
}


.teamMemberSocialIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.teamMemberSocialIcon:hover {
  opacity: 0.9;
  transform: translateY(-0.2rem);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1400px) {

  .teamMemberCardContainer {
    height: 40rem;
  }

  .teamMemberCard {
    flex-direction: row;
    width: 65%;
    height: fit-content;
  }

  .teamMemberImage {
    height: 17rem;
    width: 17rem;
    margin-right: 2.5rem;
    margin-bottom: 0;
  }

  .teamMemberContent {
    height: 100%;
    width: 50%;
    padding: 2rem;
    align-items: start;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .teamMemberName {
    font-size: 2.5rem;
    line-height: 2.5rem;
    order: 0;
  }

  .teamMemberTitle {
    font-size: 2rem;
    order: 2;
    line-height: 2rem;
  }

  .teamMemberDescription {
    padding: 0rem;
    text-align: left;
    order: 3;
    margin-bottom: 0;
  }

  .SocialsContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: end;
    order: 1;
  }



  .teamMemberContent {
    width: 70%;
  }


}