.teamMemberCardContainer {
  display: flex;
  justify-content: center;
}

.teamMemberContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamMemberCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  width: 70%;
  height: 53rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.teamMemberImage {
  border: solid 0.5rem var(--purple);
  padding: 0.3rem;
  height: 15.5rem;
  width: 15.5rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.teamMemberName {
  color: var(--darkGrey);
  font-size: 2rem;
}

.teamMemberTitle {
  color: var(--purple);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.teamMemberDescription {
  text-align: center;
  padding: 0rem 2.5rem;
}

.SocialsContainer {
  display: flex;
  width: 75%;
  padding: 0rem 2.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.teamMemberSocialIcon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.github-icon path {
  fill: aquamarine;
}