.menu-links {
  display: none; /* Hide by default */
}

.menu-links.open {
  display: block; /* Show when open */
}

.logo {
  width: 35%;
  height: auto;
}

#hamburger-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
