/* Mobile Navigation */
.mobileNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8.4%;
  padding-right: 8.4%;
  position: sticky;
  height: 9rem;
  top: 0;
  border-bottom: solid 0.2rem var(--lineColour);
  background-color: white;
  z-index: 1000;
}

.mobileNavContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.logo {
  height: 6.5rem;
  width: auto;
}

.mobileMenu {
  list-style-type: none;
  width: 45%;
  position: absolute;
  right: 1rem;
  top: 8.7rem;
  border-radius: 1.1rem;
  background-color: white;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
}

.mobileMenuItemHover {
  border-width: 0.1rem;
  text-align: center;
  padding: 1.7rem;
  font-size: 2rem;
  color: white;
  background-color: var(--purple);
  font-weight: 700;
}

.mobileMenuItem {
  border-width: 0.1rem;
  text-align: center;
  padding: 1.7rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--navy);
}

.mobileMenuItemHover:first-child {
  border-radius: 1.1rem 1.1rem 0 0;
}

.mobileMenuItemHover:last-child {
  border-radius: 0 0 1.1rem 1.1rem;
}

/* Desktop Navigation */
.desktopNav {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.4%;
  padding-right: 8.4%;
  height: 8.9rem;
  position: sticky;
  top: 0;
  background-color: var(--lightBlueGrey);
  border-bottom: solid 0.2rem var(--lineColour);
  z-index: 1000;
}

.desktopMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

.logo {
  height: 6.5rem;
  width: auto;
  margin-right: auto;
}

.desktopMenuItem {
  font-size: 2rem;
  font-weight: 650;
}

.desktopMenuItem a {
  display: flex;
  color: var(--navy);
  white-space: nowrap;
  text-decoration: none; /* Ensure text inside <a> looks like a link */
}

.desktopMenuItem a:hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactBtn {
  position: relative;
  width: 13.5rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--purple);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.contactBtn:hover {
  opacity: 0.8;
}

.contactBtn:active {
  transform: scale(1.05);
}

/* Media Query */
@media (min-width: 1100px) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
  }

  .desktopMenu {
    gap: 5rem;
  }
}
