.NavContainer {
  width: 100vw;
  height: 89px;
  padding-left: 8.4%;
  padding-right: 8.4%;
  position: sticky;
  /* border: solid; */
}

.logo {
  height: 63px;
  /* border: solid; */
  position: absolute;
  top: 22px;
}

.HamburgerContainer {
  width: 40px;
  height: auto;
  /* border: solid; */
  position: absolute;
  right: 8.4%;
  top: 35px;
}

.HamburgerIcon {
  height: 100%;
  width: 100%;
}

.MenuLinks {
  list-style-type: none;
  /* border: solid; */
  width: 25%;
  position: absolute;
  right: 0;
  top: 87px;
}

.ListItem {
  border: solid;
  border-width: 1px;
  text-align: center;
}

.NotHover {
  text-decoration: none;
  color: black;
}

.Hover {
  text-decoration: none;
  color: purple;
}
