/* TO FIX: NAV BAR loses composure after 1600px vw */
.NavContainer {
  width: 100vw;
  height: 8.9rem;
  padding-left: 8.4%;
  padding-right: 8.4%;
  position: sticky;
  /* border: solid; */
}

.logo {
  height: 6.3rem;
  /* border: solid; */
  position: absolute;
  top: 2.2rem;
}

.HamburgerContainer {
  width: 4rem;
  height: auto;
  /* border: solid; */
  position: absolute;
  right: 8.4%;
  top: 3.5rem;
}

.HamburgerIcon {
  height: 100%;
  width: 100%;
}

.MenuLinks {
  list-style-type: none;
  width: 40%;
  position: absolute;
  right: 8.4%;
  top: 8.7rem;
  border-radius: 1.1rem;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.ListItemHover {
  /* border: solid; */
  border-width: 0.1rem;
  text-align: center;
  padding: 1.7rem;
  font-size: 2rem;
  color: white;
  background-color: var(--purple);
  font-weight: 700;
}

.ListItemNotHover {
  border-width: 0.1rem;
  text-align: center;
  padding: 1.7rem;
  font-size: 2rem;
  color: black;
}

.ListItemHover:first-child {
  border-radius: 1.1rem 1.1rem 0 0;
}

.ListItemHover:last-child {
  border-radius: 0 0 1.1rem 1.1rem;
}

.NotHover {
  text-decoration: none;
  color: black;
}

.Hover {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

a {
  text-decoration: none;
}
