.footer {
  display: flex;
  background-color: var(--lightBlueGrey);
  height: 4.5rem;
  padding-left: 8.4%;
  padding-right: 8.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}