.footer {
  display: flex;
  background-color: var(--lightBlueGrey);
  height: 5.5rem;
  padding-left: 8.4%;
  padding-right: 8.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 200;
}


.fiverrIcon {
  height: 1.4rem;
  width: auto;
  vertical-align: middle;
}

.footerLinks {
  display: flex;
  align-items: baseline;
}