#home {
  margin: 4em 0em 4em 0em;
  padding: 0em, 1.5em;
}

h1 {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5em;
  margin-bottom: 1em;
}

p {
  font-optical-sizing: auto;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
  color: var(--dark-grey);
}

p:last-child {
  margin-bottom: 0px;
}

.circleDecoration {
  width: 20%;
  height: auto;
}