.heroSection {
  margin-top: 8.9rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 800;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.textGradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thin {
  font-weight: 300;
}

.heroPara {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.heroImage {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}
