.our-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: azure;
}

/* SLIDER */
.swipper {
  width: 100%;
}

.swipper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35em;
  background-color: purple;
}

.card {
  width: 20em;
  height: 90%;
  background-color: #fff;
}

.card-image {
  width: 10em;
  height: 10em;
}

.card-image img {
  width: 100%;
  height: 100%;
}
