.experienceList ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.experienceList ul li {
  width: 30%;
  height: auto;
  text-align: center;
  background-color: aqua;
  font-size: 0.7em;
}
